		<!-- Footer
================================================== -->
<div id="footer">

    <!-- Footer Top Section -->
    <div class="footer-top-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <!-- Footer Rows Container -->
                    <div class="footer-rows-container">

                        <!-- Left Side -->
                        <div class="footer-rows-left">
                            <div class="footer-row">
                                <div class="footer-row-inner footer-logo">
                                    <img src="/images/logo.png" alt="">
                                    <h1 style="font-size: 50px; color: blanchedalmond;">
                                        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ShopZone </strong>
                                    </h1>
                                </div>
                            </div>
                        </div>

                        <!-- Right Side -->
                        <div class="footer-rows-right">

                            <!-- Social Icons -->
                            <div class="footer-row">
                                <div class="footer-row-inner">
                                    <ul class="footer-social-links">
                                        <li>
                                            <a href="#" title="Facebook" data-tippy-placement="bottom"
                                                data-tippy-theme="light">
                                                <i class="icon-brand-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="Twitter" data-tippy-placement="bottom"
                                                data-tippy-theme="light">
                                                <i class="icon-brand-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="Google Plus" data-tippy-placement="bottom"
                                                data-tippy-theme="light">
                                                <i class="icon-brand-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="LinkedIn" data-tippy-placement="bottom"
                                                data-tippy-theme="light">
                                                <i class="icon-brand-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- Language Switcher -->
                            <div class="footer-row">
                                <div class="footer-row-inner">
                                    <label>Language : English</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Footer Rows Container / End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top Section / End -->
    <% if (details[0].buyer_id) { %>

    <!-- Footer Middle Section -->
    <div class="footer-middle-section">
        <div class="container">
            <div class="row">

                <!-- Links -->
                <div class="col-xl-2 col-lg-2 col-md-3">
                    <div class="footer-links">
                        <h3>For Buyers</h3>
                        <ul>
                            <li><a href="http://localhost:3000/products-grid-layout-full-page"><span>Search Products</span></a></li>
                            <li><a href="http://localhost:3000/dashboard-my-active-cart"><span>
                                        My Cart</span></a></li>
                            <li><a href="http://localhost:3000/myorders"><span>My Orders</span></a></li>

                    </div>
                </div>

                <!-- Links -->
                <div class="col-xl-2 col-lg-2 col-md-3">
                    <div class="footer-links">
                        <h3>Helpful Links</h3>
                        <ul>
                            <li><a href="http://localhost:3000/pages-contact"><span>Contact</span></a></li>
                            <li><a href="http://localhost:3000/privacy"><span>Privacy Policy</span></a></li>
                            <li><a href="http://localhost:3000/termsofuse"><span>Terms of Use</span></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Links -->
                <div class="col-xl-2 col-lg-2 col-md-3">
                    <div class="footer-links">
                        <h3>Account</h3>
                        <ul>
                            <li><a href="http://localhost:3000/single-freelancer-profile"><span>My
                                        Account</span></a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Footer Middle Section / End -->
    <% } else { %>]
        <!-- Footer Middle Section -->
<div class="footer-middle-section">
<div class="container">
<div class="row">


    <!-- Links -->
    <div class="col-xl-2 col-lg-2 col-md-">
        <div class="footer-links">
            <h3>For Sellers</h3>
            <ul>
            
                <li><a href="http://localhost:3000/dashboard-post-a-products"><span>Post a
                            Product</span></a></li>
                <li><a href="http://localhost:3000/dashboard-manage-products"><span>Manage
                    Products</span></a></li>
                <li><a href="http://localhost:3000/dashboard-manage-orders"><span>Manage Jobs</span></a></li>
            </ul>
        </div>
    </div>

    <!-- Links -->
    <div class="col-xl-2 col-lg-2 col-md-3">
        <div class="footer-links">
            <h3>Helpful Links</h3>
            <ul>
                <li><a href="http://localhost:3000/pages-contact"><span>Contact</span></a></li>
                <li><a href="http://localhost:3000/privacy"><span>Privacy Policy</span></a></li>
                <li><a href="http://localhost:3000/termsofuse"><span>Terms of Use</span></a></li>
            </ul>
        </div>
    </div>

    <!-- Links -->
    <div class="col-xl-2 col-lg-2 col-md-3">
        <div class="footer-links">
            <h3>Account</h3>
            <ul>
                <li><a href="http://localhost:3000/companyprofile"><span>My
                            Account</span></a></li>
            </ul>
        </div>
    </div>


</div>
</div>
</div>
<!-- Footer Middle Section / End -->

<% }%>



    <!-- Footer Copyrights -->
    <div class="footer-bottom-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    © 2023 <strong>ShopZone</strong>. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Copyrights / End -->

</div>
<!-- Footer / End -->
