<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>ShopZone</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/colors/orange.css">


</head>
<body>
	

<!-- Wrapper -->
<div id="wrapper">



	<%- include('../partials/header') %>

<div class="clearfix"></div>
<!-- Header Container / End -->

<style>
    .content {
      max-width: 1400px;
      margin: auto;
    }
    </style>
    <body>
    <div class="content">
        <br>
        <br>
        <br>
      <h1>Privacy Policy</h1>
      <p>This privacy policy explains how our ecommerce website collects, uses, and shares personal information of its users.</p>
      <h2>Personal Information Collected</h2>
      <p>We collect the following types of personal information from our users:</p>
      <ul>
        <li>Name</li>
        <li>Email address</li>
        <li>Billing information</li>
        <li>Addresses, Locations & Orders</li>
      </ul>
      <h2>Use of Personal Information</h2>
      <p>We use the personal information we collect for the following purposes:</p>
      <ul>
        <li>To match buyer with potential sellers</li>
        <li>To facilitate the payment process for orders</li>
        <li>To provide customer support</li>
        <li>To send marketing emails</li>
      </ul>
      <h2>Sharing of Personal Information</h2>
      <p>We may share personal information with the following parties:</p>
      <ul>
        <li>Third-party service providers</li>
        <li>Potential clients</li>
      </ul>
      <h2>Data Security</h2>
      <p>We take the following measures to protect the security of personal information:</p>
      <ul>
        <li>Encryption</li>
        <li>Security protocols</li>
      </ul>
      <h2>Cookies and Tracking Technologies</h2>
      <p>We may use cookies and other tracking technologies on our website. You can control the use of these technologies through your browser settings.</p>
      <h2>User Rights</h2>
      <p>You have the following rights with respect to your personal information:</p>
      <ul>
        <li>The right to access your personal information</li>
        <li>The right to correct your personal information</li>
        <li>The right to delete your personal information</li>
      </ul>
      <h2>Changes to this Privacy Policy</h2>
      <p>We may update this privacy policy from time to time. If we make any changes, we will notify you by posting the updated policy on this page. You can contact us with any questions or concerns about your personal information.</p>
      <br>
        <br>
        <br>
    </div>
</div></body>
<%- include('../partials/footer') %>




